 
h1{
    display: flex;
    justify-content: center;
    background-color: white;
    color: deeppink;
    transition: background  2s linear 0.5s;
}
h1:hover{
    background-color: green;
}